/.DS_Store
/.vscode
/Out
/Stql
/Stql.hi
/Stql.o
/StqlEval.hi
/StqlEval.o
/StqlGrammar.hi
/StqlGrammar.hs
/StqlGrammar.o
/StqlTokens.hi
/StqlTokens.hs
/StqlTokens.o
/bar.ttl
/foo.ttl
/out.ttl
/pr1.stql